<h1 class="text-center text-5xl text-gray-800 py-16">¡HOLA!</h1>

<P class="text-center text-gray-800 text-3xl font-semibold">Bienvenido al CRUD - Gestor de Tareas</P>

<div class="text-center w-full my-16">
    <a href="/tareas" class="font-semibold bg-blue-500 text-xl text-white hover:bg-blue-700 
    px-8 py-4 text-center rounded-md mx-auto">
        Empezar
    </a>
</div>